.register {
    position: relative;
    text-align: center;
}

.register p {
    color: #aaa;
}

.register img{
    height: 3em;
    width: 3em;
    border-radius: 50%;
    cursor: pointer;
}

.avatar {
    color: rgb(248, 68, 98);
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(248, 68, 98);
    flex-direction: column;
}

