.register {
    position: relative;
    text-align: center;
}

.register p {
    color: #aaa;
}

.register img{
    height: 4em;
    width: 4em;
    border-radius: 50%;
    cursor: pointer;
}


.register img:hover{
    background-color: #a3d4ec;
}


