.dashboard {
    text-align: center;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.dashboard h2 {
    font-size: 2.2em;
    margin-bottom: 0.5em;    
}

.dashboard p {
    color: #aaa;
    margin-bottom: 1em;
}

.post_header, .post_row  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    /* flex-direction: column; */
}

.post_header {
    font-weight: bold;
    border-bottom: 2px solid #ccc;
}

.post_row {
    border-bottom: 1px solid #eee;

}

.post_row p {
    color: #000;
    margin-bottom: 10px;
}

.dash_title {
    padding-bottom: 0.1em;
}

.dash_buttons {
    display: flex;
    margin: 10px;
    height: auto;
    font-size: 0.7em;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.dash_buttons button {
    min-width: 160px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    color: #000;
    border: 1px solid #000;
    padding: 7px 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 0.9em;

}

.dash_buttons button:hover {
    background-color: #dc3545;
    color: #fff;
    
}

.post_row button,
.post_row a {
    margin: 2px;
    height: max-content;
    width: 100px;
}


@media only screen and (min-width: 768px) {
    .post_header, .post_row {
        flex-direction: row;
        width: 80%;
    }

    .dash_buttons {
        flex-direction: row;
        justify-content:flex-end;   
    }
    
     .post_row button,
    .post_row a {
            margin: 2px;
            height: max-content;
    }

    

}



