.dashboard {
    text-align: center;
    display: flex ;
    flex-direction: column;
    justify-content:center;
    align-items: center;  
}

.dashboard h2 {
    font-size: 2.2em;
    margin-bottom: 0.5em;    
}

.dashboard img {
    width: 6em;
    height: 4em;
    border-radius: 5px;
    margin: 10px;
}

.dashboard p {
    color: #aaa;
    margin-bottom: 1em;
}

.post_header {
    border-bottom: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 80%;
    font-weight: bold;
}

.post_row {
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.post_row p {
    font-size: 0.6rem;
    margin-bottom: 10px;
}

.dash_title {
    padding-bottom: 0.1em;
}

.dash_buttons {
    width: auto;
    display: flex;
    height: auto;
    font-size: 0.7em;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.dash_buttons :link {
    width: 40px;
}


.dash_buttons button {
    min-width: auto;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    color: #000;
    border: 1px solid #000;
    padding: 7px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 0.9em;

}

.dash_buttons button:hover {
    background-color: #dc3545;
    color: #fff;
    
}

.post_row button,
.post_row a {
    margin: 2px;
    height: max-content;
    width: 100px;
}



@media only screen and (min-width: 280px) {

    .post_row {
        justify-content: center;
    }

}

@media only screen and (min-width: 540px) {

    .post_row {
        justify-content: space-between;
    }

    .post_row p {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 728px) {
    .post_header, .post_row {
        flex-direction: row;
    }

    .dash_buttons {
        flex-direction: row;
        justify-content:flex-end;   
    }
    
}

@media only screen and (min-width: 1024px) {

    .post_row p {
        font-size: 1.2rem;
    
    }
    .dash_buttons :link {
        width: 100px;
        margin-left: 10px;
        padding: 10px;
    }

   .dash_buttons button {
       width: 120px;
       margin-left: 10px;
       padding: 10px;
   }
}



