.navbar {
    min-width: 100vw;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, .15) 0px -2px 10px 0px;

}

.brand {
    padding-left: 10px;
    font-size: 2em;
    text-align: center;
}

.brand span {
    font-weight: 900;
    text-transform: uppercase;
}

.links_list {
    display: flex;
    list-style: none;
    align-items: center;
}

.links_list li {
    margin-right: 1em;
}

.links_list li a {
    padding: .4em .6em;
    font-size: 0.5em;
}

.active {
    background-color: #000000be;
    color: pink;
}



/* Smartphone */
@media only screen and (min-width: 320px) {


    .links_list li a {
        font-size: 0.4em;
    }

    .brand {
        font-size: 0.6em;
    }
}


@media only screen and (min-width: 480px) {

    .links_list li a {
        font-size: 0.8em;
    }

    .brand {
        font-size: 0.9em;
    }
}

@media only screen and (min-width: 640px) {}

/* Tablet */
@media only screen and (min-width: 768px) {

    .links_list li a {
        font-size: 1em;
    }

    .brand {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 1024px) {}

@media only screen and (min-width: 1280px) {}

@media only screen and (min-width: 1563px) {

    .links_list li a {
        font-size: 1.2em;
    }

    .brand {
        font-size: 1.5em;
    }
}

