.navbar {
    display: flex;
    box-shadow: rgba(0, 0, 0, .15) 0px -2px 10px 0px;
    /* justify-content faz o logo ficar à esquerda e os outros itens à direira */
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    min-width: 100vw;
}

.brand {
    font-size: 1.2em;
}

.brand span {
    font-weight: 900;
    text-transform: uppercase;
}

.links_list {
    display: flex;
    list-style: none;
}

.links_list li {
    margin-right: 1em;
}

.links_list li a {
    padding: .4em .6em;
    font-size: 0.5em;
}

.active {
    background-color: #000000be;
    color: pink;
}


@media only screen and (min-width: 768px) {

    .links_list li a {
        font-size: 0.9em;
    }

}